Django==5.0.6
djangorestframework
django-cors-headers
python-dotenv
psycopg2-binary

gunicorn

openai
requests

PyPDF2
python-docx
openpyxl

djangorestframework-simplejwt
django-ratelimit
drf-spectacular

numpy
faiss-cpu

azure-storage-blob

pytest
pytest-django